.card-wrapper {
	@apply transition ease-in-out transform-gpu;

	&:hover {
		transform: translateY(-3px);
	}
}

.card {
	@apply flex flex-col relative p-0 h-full min-h-0;
}

.image-wrapper {
	@apply w-full;
	height: 180px;
}

.image {
	@apply block w-full h-full object-cover;
}

.info {
	@apply flex flex-col flex-1 relative p-6 w-full;
	width: 100%;
	background-color: theme('colors.background');
}

.title {
	@apply text-primary text-2xl line-clamp-1 whitespace-normal;
}

.description {
	@apply line-clamp-2 whitespace-normal;
}
